# Requirements for SAM3 Video Tracking blog post
# Install SAM3 from source first:
# git clone https://github.com/facebookresearch/sam3.git
# cd sam3 && pip install -e .

torch
numpy
opencv-python
matplotlib
pillow
supervision
ipython
einops
decord
pycocotools
imageio
imageio-ffmpeg
scipy
